#footerholder {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

#sliderbuttondown{
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	width: 75px;
	height: 25px;
	margin:auto;
	background-color: #333;
	color: #d0d0d0;
	opacity: 0.75; 
}
#sliderbuttonup{
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	display: none;
	width: 75px;
	height: 25px;
	margin:auto;
	background-color: #333;
	color: #d0d0d0;
	opacity: 0.75;
}

#footerslider{

	padding: 10px 20px 10px 20px;
	margin: auto;
	width:100%;
	height:140px;
	display: none;
	background-color: #333;
	opacity: 0.75;
}