/*menu */
#topmenu{
	margin-left:auto;
	margin-right:auto;
	width: 300px;
	height: 30px;
}
#nav{
	padding: 0;
	background-color: #333;
	z-index: 100;
	position: absolute;
	list-style: none;
}
#nav li {
	display: inline-block;
	text-align: center;
	list-style: none;
}
#nav li a {
	width: 50px;
	height: 30px;
	font-size: 1em;
	font-weight:bold;
	background: #333;
	color: #fff;
	text-decoration: none;
	display: block;
	line-height: 30px;
}
#nav li a:hover {
	background: #0b75b2;
	text-decoration: none;
}

#nav > li > a {
}
/*menu dropdown */
#nav li ul {
	background: #333;
	color: #333;
	display: none;
	margin: 0 0 0 0;
	width: 50px;
	position: absolute;
}

#nav li ul li {
	width: 100%
}
#nav li ul li a {
	background: none;
	border: none;
	line-height: 30px;
	margin: 0;
}
#nav li.current > a {
	background: #0b75b2;
}
#nav li:hover > ul.child {
	display: block;
}