*{
	margin:0px;
	padding:0px;
}

html{
	font-size: 0.8em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background:url(../media/achtergrond.jpg) #336 no-repeat left top;
	background-size: auto;

}
body{

}
.topmenu{
	margin-left:50%;
	width:400px;
	background-color: #333;
	margin-top: -10;
}

.navigation{
	list-style-type: none;
	margin:0;
	padding:0;
	float:left;
	text-align: center;
}

.navigation li{
	display:inline;
}

.navigation li a{
	display:block;
	float:left;
	color: #fff;
	text-decoration: none;
	padding: 10.5px 11px;
	background-color: #333;
}

.navigation li a:visited{

	color: #fff;
	text-decoration: none;

}

.navigation li a:hover{
	color:#fff;
	background-color:#0b75b2;
}