*{
	margin:0px;
	padding:0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html{


}
body{
	font-size: 0.8em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#wrap{

	overflow:hidden;
}
.achtergrond{
    position:absolute;
    top:0;
    z-index:-1;
    display:none;
    width:100%;
    height:100%;
    user-drag: none; -moz-user-select: none; -webkit-user-drag: none;
}
.topmenu{
	margin-left:auto;
	margin-right:auto;
	width: 432px;

}

.navigation{
	background-color: #333;
	width:100%;
	/*margin-bottom: 50px;*/
	list-style-type: none;
	float:left;

}

.navigation li{
	display:inline;
	text-align: center;
}

.navigation li a{
	margin-left: auto;
	margin-right: auto;
	width: 50px;
	display:block;
	float:left;
	color: #fff;
	text-decoration: none;
	padding: 10.5px 11px;
	background-color: #333;
}

.navigation li a:visited{

	color: #fff;
	text-decoration: none;

}

.navigation li a:hover{
	color:#fff;
	background-color:#0b75b2;
}

#footerholder {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

#sliderbuttondown{
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	width: 100px;
	height: 25px;
	margin:auto;
	background-color: #333;
}
#sliderbuttonup{
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-top: 1px;
	border-left: 1px;
	border-right: 1px;
	border-bottom: 0px;
	border-style: solid;
	display: none;
	width: 100px;
	height: 25px;
	margin:auto;
	background-color: white;
}

#footerslider{

	padding: 10px 20px 10px 20px;
	margin: auto;
	width:800px;
	height:250px;
	display: none;
	background-color: #333;

}



/* twitter feed */
#jst{

	border:1px solid black;
	clear:both;
	width: 400px;
	font-family: arial;
	font-size: 1em;
	color: #000;
	background-color: #fff;
}

#jst .tweet {
	margin: 0 auto 1px auto;
	padding: 10px 0 10px 5px;
	border-bottom: 1px dotted #ccc;
}

#jst .tweet a {
	text-decoration: none;
	color: #333;
}

#jst .tweet a:hover {
	text-decoration: underline;
}

#jst .tweet .time {
	font-size: 0.7em;
	font-style: italic;
	color: #666666;
}