/* twitter feed */
#jst{
	border:0px solid black;
	float:left;
	margin-left: 20px;
	height: 140px;
	width: 40%;
	font-family: arial;
	font-size: 1em;
	color: #d0d0d0;
	background-color: #000;
	overflow: scroll;
	overflow-x:hidden;
}

#jst .tweet {
	margin: 0 auto 0px auto;
	padding: 10px 0 10px 5px;
	border-bottom: 1px dotted #ccc;
}

#jst .tweet a {
	text-decoration: none;
	color: #333;
}

#jst .tweet a:hover {
	text-decoration: underline;
}

#jst .tweet .time {
	font-size: 0.7em;
	font-style: italic;
	color: #666666;
}